<%= stylesheet_link_tag 'login', :media => "all" %>

<div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div>Let's<span>exerxise</span></div>
    </div>
    <br>
    <div class="login">



  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, id: "profile_label"  %><br />
      <%= f.email_field :email, id:"profile_text_area", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>

</div>